python==3.10.11
streamlit==1.31.1

transformers==4.36.2
sentence-transformers==2.2.2

langchain==0.1.7
langchain-community==0.0.20
langchain-text-splitters==0.0.1

faiss-cpu==1.7.4
pypdf==3.17.1

torch
